<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link pl-5">
        <span class="brand-text font-weight-light">{{:config('admin.name')}}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar pb-3">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                {{:\\quick\\admin\\facades\\Admin::menu()->toHtml()}}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
