<!DOCTYPE html>
<html lang="{{:config('lang.default_lang')}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{:admin_title()}}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {if $favicon = admin_favicon()}
    <link rel="shortcut icon" href="{{$favicon}}">
    {/if}

    {{:\\quick\\admin\\Admin::css()}}

    <script src="{{:\\quick\\admin\\Admin::jQuery()}}"></script>

    {{:\\quick\\admin\\Admin::headerJs()}}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    {include file="partials/navbar,partials/sidebar" /}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {block name="content"}{/block}
    </div>

    @{include file="partials/footer" /}
</div>
<!-- ./wrapper -->
{{:\\quick\\admin\\Admin::js()}}
</body>
</html>
